
/*CABEÇALHO*/
header#cabecalho {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1280px;
    padding: 25px 10px;
    flex-wrap: wrap;
    background-color: rgba(7, 94, 7, 0.93);
    width: 100%;
    height: 41px;
}

header h1{
    position: absolute;
    align-self: center;
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(41, 41, 41);
}


 input, button{
    border-radius: 40px;
    background-color: #d0ffdd;
    align-self: center;    
}

header#cabecalho img{
    padding: 4px, 4px;
}

.menuOpcoes a{  
    align-self: center; 
    text-decoration: none;
    position: absolute;
}

.menuOpcoes a#carrinho{  
    top: 1.5em;
    left: 70em;   
}

.menuOpcoes a#meuPerfil{
    top: 1.5em;
    left: 75em;   
}

header#cabecalho img#mulherCompras{
    position:absolute;
    align-self: center;
    margin-left: 11%;
}

/*FUNDO*/
body{
    background-image: url(_imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*.botoes{
    position: absolute;
    margin-top: 25%;
    transform:translateX(-50%);
}*/

.botao button{
    margin-top: 25%;
    margin-left: 60%;
    margin:0;
    float: right;
    transform:translateY(400%); 
    height: 60px;  
    width: 200px;  
}


/*SEÇÃO DE PRODUTOS*/
section#Produtos{
    padding: 20px 20px;
}

section#Produtos div{
    margin: 10%;
    border-radius: 10px;
    background-color: #215f2488;
    height: 60px;
    width: 600px;
    margin-left: 3%;
}

.produto span{
    position: absolute;
    align-self: center;
    margin-top: 30%;
    margin-left: 28%;
    height: 100px;
    width: 100px;
}

section#Produtos div#primeiro{
    position: absolute;
    margin-top: 2%;
}

section#Produtos div#segundo{
    position: absolute;
    margin-top: 8%;
}

section#Produtos div#terceiro{
    position: absolute;
    margin-top: 14%;
}


