<!DOCTYPE html>
<html lang="pt-br"> 
    <head>
        <title> Njack WebSite </title>
        <link rel="stylesheet" href="./carrinho.css">
    </head>
    <body>
        <header id="cabecalho">
            <a href="http://localhost:3000/telaPrincipal.html">
                <h1 id="TOPO"> NJACK </h1>
            </a>
            <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
            <div class="menuOpcoes">
                <a id="carrinho" href="http://localhost:3000/carrinho.html" title="Acesse seu Carrinho">
                    <button><img src="_imagens/carrinho.png" height="40px"></button>
                </a>
                <a id="meuPerfil" onclick="naoImplementado()" title="Edite sua Conta">
                    <button><img src="_imagens/meuPerfil.png" height="40px"></button>
                </a>
            </div>
        </header>

        <section class="principal">
            <h2>Carrinho de Compras</h2>
            <div class="produtos">

                <div class="produto">
                    <span class="campo"> Nome: </span>
                    <span class="dado"> Produto X </span>
                    <span class="campo"> Quantidade: </span>
                    <span id="dado"> 10 </span>
                </div>

                <div class="produto">
                    <span class="campo"> Nome: </span>
                    <span class="dado"> Produto Y </span>
                    <span class="campo"> Quantidade: </span>
                    <span id="dado"> 20 </span>
                </div>

                <div class="produto">
                    <span class="campo"> Nome: </span>
                    <span class="dado"> Produto Z </span>
                    <span class="campo"> Quantidade: </span>
                    <span id="dado"> 30 </span>
                </div>

            </div>

            <div class="botao">
                <a href="./carrinho.html">
                    <button type="submit"> COMPRAR </button>
                </a>
            </div>
        </section>

        <script type="text/javascript">
            function naoImplementado(){
                alert("Função não disponível no momento!");
            }
        </script>
    </body>
</html>