<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>NJACK</title>
        <link rel="stylesheet" href="./carrinho.css">
    </head>
    <body>
        <header id="cabecalho"> 
            <h1>NJACK</h1>
            <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
            <img id="meuPerfil" src="_imagens/meuPerfil.png" height="40px">
        </header>

        <section id="principal">
            <h1>Carrinho de Compras</h1>
            <form id="comprar" action="./telaCadastro.html">
                <button id="botao" type="submit"> COMPRAR </button>
            </form>

            <form id="retornar" action="./telaPrincipal.html">
                <button id="botao" type="submit"> RETORNAR </button>
            </form>
        </section>
    
    </body>
</html>