<!DOCTYPE html>
<html>
    <head>
        <title>NJACK</title>
        <link rel="stylesheet" href="./telaLogin.css">
    </head>
    <body>
        <!--img id="fundo" src="_imagens/fundo.jpeg"-->
        <header id="cabecalho"> 
            <h1>NJACK</h1>
            <img id="icone" src="_imagens/mulherCompras.png">
        </header>
        <hgroup>
            <section id="right">
                <form id="login"action="/action_page.php">
                    <h2>Já Sou Cliente</h2>
                    <label for="e-mail">E-mail:</label><br>
                    <input type="text" id="e-mail" name="e-mail" value="John"><br>
                    <label for="senha">Senha:</label><br>
                    <input type="text" id="senha" name="senha" value="Doe"><br><br>               
                    <button id="botao" type="submit"> ACESSAR CONTA </button><br><br><br>
                    <a href = "https://www.w3schools.com/html/html_links.asp"> Esqueci minha senha</a><br><br> 
                </form> 
            </section>  
            <section id="left">  
                <form id="cadastro" action="/action_page.php">
                    <h2>&nbsp &nbsp Ainda Não Sou <br> &nbsp &nbsp &nbsp &nbsp Cliente</h2>
                    <button id="botao" type="submit"> CADASTRAR </button>
                </form>
            </section>
        </hgroup>
            

    </body>
</html>