body {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(_imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 50px;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 10;
}

h1 {
    color: rgb(0, 88, 22);
    font-weight: 900;
    font-size: 40px;
    display: block;
    position: relative;
    text-align: center;
}

header img#icone {
    position: relative;
    display: block;
    float: left;
    height: 60px;
    margin-left: 56%;
    transform: translateY(-140%);
}

.login_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 450px;
    margin-left: 50%;
    background-color: rgba(85, 85, 85, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2{
    font-size: 32px;
    color: rgba(7, 94, 7, 0.93);
    margin-top: 0;
}

.login_body input{
    height: 50px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.781);
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: rgba(231, 216, 216, 0.726);
}

.input_box {
    margin-bottom: 25px;
}

::placeholder {
    color: black;
    font-weight: bold;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(7, 94, 7, 0.93);
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    cursor: pointer;
    background-color: rgba(7, 94, 7, 0.93);
}

.erro {
    color: #ff0000;
    font-size: 16px;
}

.sign_up {
    color: #ffffff;
    font-size: 16px;
}

.sign_up a {
    color:rgb(12, 110, 28);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.sign_up a:hover {
    text-decoration: underline;
}