<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>NJACK</title>
        <link rel="stylesheet" href="./telaCadastrarEndereco.css">
    </head>
    <body>
        <header id="cabecalho">
            <a href="http://localhost:3000/telaPrincipal.html">
                <h1 id="TOPO"> NJACK </h1>
            </a>
            <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
        </header>

        <section id="principal">
            <div class="cadastrarEndereco_body">
                <div class="cadastrarEndereco_box">
                    <h2> Cadastrar Endereço </h2>
                    <form action="http://localhost:3000/endereco" method="post">
                        <div class="input_box">
                            <input required type="text" name="login" id="login" placeholder="Informe seu Login:">
                        </div>
                        <div class="input_box">
                            <input required type="text" name="logradouro" id="logradouro" placeholder="Informe seu Logradouro:">
                        </div>
                       
                        <div class="input_box">
                            <input required type="text" name="numero" id="numero" placeholder="Numero:">
                        </div>

                            <button type="submit">Cadastrar Endereço</button>
                        </div>
                    </form>
                </div>
            </div>                    
        </section>