<!DOCTYPE html>
<html>
    <head>
        <title>NJACK</title>
        <link rel="stylesheet" href="./telaPrincipalAdmin.css">
    </head>
    <body>
        <header id="cabecalho">
            <h1>NJACK</h1>
            <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
            <img id="carrinho" src="_imagens/carrinho.png" height="40px">
            <img id="meuPerfil" src="_imagens/meuPerfil.png" height="40px">
            <img id="gerenciamento" src="_imagens/gerenciamento.png" height="30px">
            <form action="http://localhost:3000/produto/busca" method="post">
                <label for="nome"></label>
                <input type="search" id="nome" name="nome">
                <button type="submit"><img id="imagem" src="_imagens/busca.png" height="20px"></button>
            </form>
        </header>
        
        <aside id="lateral">
            <h2>Categorias</h2>
            <ul>
                <li>Feminino</li>
                <li>Masculino</li>
                <li>Infantil</li>
            </ul>
        </aside>
    </body>
</html>