<!DOCTYPE html>
<html>
    <head>
        <title>NJACK</title>
        <link rel="stylesheet" href="./telaAlterarVenda.css">
    </head>
    <body>
        <header id="cabecalho"> 
            <h1>NJACK</h1>
            <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
            <img id="carrinho" src="_imagens/carrinho.png" height="40px">
            <img id="meuPerfil" src="_imagens/meuPerfil.png" height="40px">
            <form action=" " method="post">
                <label for="busca"></label>
                <input type="search" id="busca" name="busca">
                <button type="submit"><img id="busca" src="_imagens/busca.png" height="20px"></button>
              </form>
        </header>
        <section id="principal">
            <form>
                <label for="endereco">Endereço:</label><br>
                <input type="text" id="endereco" name="endereco"><br>
                <label for="qtdProduto">Quantidade Produtos:</label><br>
                <input type="text" id="qtdProduto" name="qtdProduto">
                <input type="submit" id="botao" value="Alterar">
              </form>
        </section>
    </body>
</html>