<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <title> Njack WebSite </title>
    <link rel="stylesheet" href="./telaAlterarVenda.css">
</head>

<body>
    <header id="cabecalho">
        <h1 id="TOPO"> NJACK </h1>
        <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
        <div class="menuOpcoes">
            <a id="carrinho" href="http://localhost:3000/carrinho.html" title="Acesse seu Carrinho">
                <button><img src="_imagens/carrinho.png" height="40px"></button>
            </a>
            <a id="meuPerfil" onclick="naoImplementado()" title="Edite sua Conta">
                <button><img src="_imagens/meuPerfil.png" height="40px"></button>
            </a>
        </div>
    </header>

    <section id="principal">
        <div class="alterarVenda_body">
            <div class="alterarVenda_box">
                <h2> Alterar Venda </h2>
                <form action="http://localhost:3000/venda" method="put">
                    <div class="input_box">
                        <input required type="text" name="endereco" id="endereco" placeholder="Endereço:">
                    </div>

                    <div class="input_box">
                        <input required type="text" name="qtd" id="qtd" placeholder="Quantidade de Produtos:">
                    </div>

                    <div class="input_box">
                        <input required type="text" name="total" id="total" placeholder="Total:">
                    </div>
                    <div>
                        <button type="submit">Alterar Venda</button>
                    </div>
                </form>
            </div>
        </div>                    
    </section>
    </body>
</html>