<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <title> Njack WebSite </title>
    <link rel="stylesheet" href="./telaPrincipal.css">
</head>

<body>
    <header id="cabecalho">
        <h1 id="TOPO"> NJACK </h1>
        <img id="mulherCompras" src="_imagens/mulherCompras.png" height="40px">
        <div class="menuOpcoes">
            <a id="carrinho" href="http://localhost:3000/carrinho.html" title="Acesse seu Carrinho">
                <button><img src="_imagens/carrinho.png" height="40px"></button>
            </a>
            <a id="meuPerfil" href="http://localhost:3000/telaCadastro.html" title="Edite sua Conta">
                <button><img src="_imagens/meuPerfil.png" height="40px"></button>
            </a>
        </div>
        <form action="http://localhost:3000/produto/busca" method="post">
            <label for="busca"></label>
            <input type="search" id="busca" name="q" placeholder="Buscar Produto">
            <button type="submit" title="Buscar"><img id="busca" src="_imagens/busca.png" height="15px"></button>
        </form>
    </header>
    <aside id="lateral">
        <h2> Categorias </h2>
        <nav id="menuLateral">
            <ul>
                <li id="Masculino">
                    <a href secoes="masculino.html"> Seção Masculina </a>
                </li>
                <li id="Feminino">
                    <a href secoes="feminino.html"> Seção Feminina </a>
                </li>
                <li id="Infantil">
                    <a href secoes="infantil.html"> Seção Infantil </a>
                </li>
            </ul>
        </nav>
    </aside>
    <section id="Produtos">
        <div class="produto" id="primeiro">
            <span id="1"></span>
        </div>
        <div class="produto" id="segundo">
            <span id="2"></span>
        </div>
        <div class="produto" id="terceiro">
            <span id="3"></span>
        </div>
        <div class="produto" id="quarto">
            <span id="4"></span>
        </div>
        <div class="produto" id="quinto">
            <span id="5"></span>
        </div>
        <div class="produto" id="sexto">
            <span id="6"></span>
        </div>
    </section>
</body>
</html>