<!DOCTYPE html>
<html>
    <head>
        <title>NJACK</title>
        <link rel="stylesheet" href="./telaLogin.css">
    </head>
    <body>
        <!--img id="fundo" src="_imagens/fundo.jpeg"-->
        <header id="cabecalho"> 
            <h1>NJACK</h1>
            <img id="icone" src="_imagens/mulherCompras.png">
        </header>
        <hgroup>
            <section id="right">
                <script type="text/javascript">
                    function autenticar(){
                        event.preventDefault();
                        nome = new String(document.getElementById('nome').value);
                        senha = new String(document.getElementById('senha').value);

                        //alert(nome + " " + senha)
                        if( logar(nome, senha) ){
                            window.location.href = "../index.html";
                        }
                        else{
                            alert("entrou no else")
                        }
                    }
                </script>
                <script type="module">
                    logar(nome, senha);
                    export default logar;
                </script>
                <form id="login" onsubmit="autenticar()" method="post">
                    <h2>Fazer Login</h2>
                    <label for="nome">Nome de Usuário:</label><br>
                    <input type="text" id="nome" name="nome"><br>
                    <label for="senha">Senha:</label><br>
                    <input type="password" id="senha" name="senha"><br><br>
                    <button id="botao" type="submit"> Acessar Conta </button><br><br><br>
                </form>
            </section>  
            <section id="left">  
                <form id="cadastro" action="./telaCadastro.html">
                    <h2>&nbsp &nbsp Ainda Não Sou <br> &nbsp &nbsp &nbsp &nbsp Cliente</h2>
                    <button id="botao" type="submit"> CADASTRAR </button>
                </form>
            </section>
        </hgroup>
    </body>
</html>